extends layout

block content
  form(method='post')
    label(for="fname") fname
    input(type='text' name='fname')
    label(for="lname") lname
    input(type='text' name='lname')
    label(for="phone") phone
    input(type='text' name='phone')
    label(for="address") address
    input(type='text' name='address')
    label(for="longitude") long
    input(type='text' name='longitude')
    label(for="latitude") lat
    input(type='text' name='latitude')
    input(type='submit' value='ok')